{% extends "base.html" %}


{% block title %}
    Erro | PL Mil Transportes
{% endblock %}


{% block topbar_title %}
    Erro
{% endblock %}


{% block content %}

    <div class="page-header">

        <div class="page-header-text">

            <h1 class="page-title">
                Ocorreu um erro
            </h1>

            <p class="page-description">
                Não foi possível concluir a operação solicitada.
            </p>

        </div>

    </div>


    <div class="card">

        <div class="estado-vazio">

            <strong>
                {{ mensagem }}
            </strong>

            <span>
                Verifique as informações e tente novamente.
            </span>

            <a
                href="{{ url_for('servicos') }}"
                class="botao-principal"
            >
                Voltar para serviços
            </a>

        </div>

    </div>

{% endblock %}